<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Item</title>
    <style>
        table, tr,td,th {
            border-collapse: collapse;
            border: 1px solid black;
        }
        table {
            width: 500px;
        }
    </style>
</head>
<body>
<h1>Delete Item Info</h1>
<form action="/product/delete" method="post" th:object="${product}">
    <table>
    <tr>
        <th>#</th>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th>Price</th>
        <td th:text="*{price}"></td>
    </tr>

    </table>
    <input type="hidden" name="id" th:field="*{id}">
    <input type="submit" value="Delete">
</form>

</body>
</html>